body{
    background-color:#112e56;
}

.main-jumbotron {
    background-image: url(Images/cool.jpg);
    font-family:Comic Sans MS;
    background-size: cover;
    height: 50rem;
    color: #b624c9;
    text-align: center;
}

footer{
    background-color:black !important;
}

h6{
     border-style: solid;
    background-color:rgb(155, 66, 244);
     font-family:helevtica;
 }
 
 .main-container{
     color:white;
 }

.about-jumbotron{
    background-image: url(Images/jag.jpg);
    font-family:Comic Sans MS;
    background-size: cover;
    height: 40rem;
    color: #b624c9;
    text-align: center;
    
}

.about-content{
    color:white;
}

.about-content h3{
    color:red;
}

.resume-jumbotron{
    background-image: url(Images/resume.jpg);
    font-family:Comic Sans MS;
    background-size: cover;
    height: 50rem;
    color: #b624c9;
    text-align: center;
}

.projects-jumbotron{
    background-image: url(Images/projects.jpg);
    font-family:Comic Sans MS;
    background-size: cover;
    height: 50rem;
    color: #b624c9;
    text-align: center;
}

.projects-container{
    color:white;
}
